/* @theme "/home/mateo/.config/rofi/catppuccin-mocha.rasi" */
/* @theme "/home/mateo/.config/rofi/nord.rasi" */
/* @theme "/home/mateo/.config/rofi/monokai.rasi" */
@theme "/home/mateo/.config/rofi/rosepine.rasi"
